<section id="quiz">

	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4" id="title">
					<i class="fa fa-fw fa-anchor"></i>
				</div>
				<div class="col-xs-4 text-center">
					<span class="label" [ngClass]="{'label-success':percentage() > 0.85, 'label-danger':percentage() < 0.85}" *ngIf="stats.responses > 0">
						{{(stats.responses - stats.errors) | number}}/{{stats.responses | number}} ({{percentage() | percent:'1.0-0' }})
					</span>
				</div>
				<div class="col-xs-4 text-right">
					<i id="menu-toggle" class="fa fa-fw fa-bars" (click)="flyout = !flyout"></i>
				</div>
			</div>
		</div>
	</header>

	<aside id="sidebar" *ngIf="flyout">
		<div class="container-fluid">
			<h1 id="title">Quiz Nautico Base</h1>
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" id="search" [(ngModel)]="search" placeholder="filtro">
					<div class="input-group-btn">
						<a class="btn btn-default" (click)="search = ''">
							<i class="fa fa-fw fa-times-circle-o"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="form-group">
				<a class="btn btn-default btn-block" (click)="hideAnswered = !hideAnswered" [ngClass]="{'active':hideAnswered}"><i class="fa fa-fw fa-list"></i> nascondi risposte</a>
				<a class="btn btn-default btn-block" (click)="hideCorrect = !hideCorrect" [ngClass]="{'active':hideCorrect}"><i class="fa fa-fw fa-check"></i> nascondi corrette</a>
			</div>
			<div class="form-group">
				<a class="btn btn-danger btn-block" (click)="resetErrors('Sicuro?')"><i class="fa fa-fw fa-exclamation-circle"></i> risetta errori</a>
				<a class="btn btn-danger btn-block" (click)="reset('Sicuro?')"><i class="fa fa-fw fa-undo"></i> risetta risposte</a>
			</div>
		</div>
		<footer id="credits">
			<div class="row text-center">
				<div class="col-xs-4 col-xs-offset-4">
					<a href="http://davole.com/" title="by davole.com" target="_blank"><img src="assets/davole.png" alt="by davole.com"></a>
				</div>
				<div class="col-xs-4">
					<a href="https://github.com/dvdvnl/quiz-nautico-base" title="App repository on GitHub" target="_blank"><i class="fa fa-fw fa-github"></i></a>
				</div>
			</div>
		</footer>
	</aside>


	<section id="questions" class="container">
		<div class="row" *ngFor="let q of qs | objectfilter:search:['index']" [ngClass]="{'success':isCorrect(q.id), 'danger':!isCorrect(q.id) && isAnswered(q.id), 'hidden':(isAnswered(q.id) && hideAnswered) || (isCorrect(q.id)  && hideCorrect)}">
			<div class="col-sm-1">
				{{q.id}}
			</div>
			<div class="col-sm-8">
				<p class="q">{{q.txt}}</p>
				<ul class="ans">
					<li *ngFor="let a of q.ans" (click)="evaluate(q, a)" [ngClass]="{'clicked':isClicked(q, a), 'success':isAnswered(q.id) && a.mark, 'danger':isAnswered(q.id) && !isCorrect(q.id)}">
						{{a.txt}}
					</li>
				</ul>
			</div>
			<div class="col-sm-3 fig">
				<img *ngIf="q.fig == 1" src="assets/figures/{{pad(q.id, 4)}}.png" alt="Figure {{pad(q.id, 4)}}">
			</div>
		</div>
	</section>

</section>