td.text span{
	font-weight: bold;
}
td.figure{
	text-align:right;
}
td.figure > img{
	max-width: 100px;
}
ul.answers > li{
	cursor: pointer;
}
ul.answers > li.answered{
	font-weight: bold;
}


tr.answered li.clicked{
	font-weight: bold;
}
tr.answered li.correct{
	color: green;
}
tr.answered li.clicked.false{
	color: red;
}
